In [158]:
#############
#Wojciech Grzelinski
#Description of the exercise is at the bottom of the lab3.md file :)
#############

from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
import pandas as pd

# sqlalchemy, psycopg2, pandas
'''
Database properties:

login: wbauer_adb

password: adb2020

database_name: wbauer_adb
'''

# db_string = "database_type://user:password@database_url:port/database_name"
# db_string = 'postgresql://wbauer_adb:adb2020@pgsql-196447.vipserv.org:5432/wbauer_adb'
db_string = 'postgresql://postgres:1997@localhost/Advanced_Databases2'

db = create_engine(db_string)

In [159]:
# Count the number of the dataset

database_number = (len("Wojciech") + len("Grzelinski")) % 6
print(database_number)

0

In [160]:
data = pd.read_csv("houses_to_rent.csv")
data.rename(columns={'Unnamed: 0':'id'}, inplace=True)
kolumny = data.columns
print(kolumny)
data.head()

Index(['id', 'city', 'area', 'rooms', 'bathroom', 'parking spaces', 'floor',
       'animal', 'furniture', 'hoa', 'rent amount', 'property tax',
       'fire insurance', 'total'],
      dtype='object')

,id,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"
2,2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
3,3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116"
4,4,1,19,1,1,0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257"

In [161]:
# Line *Base = declarative_base()* run automatically process of mapping existing tables in a database to class and give us tools to declare new tables schema.  

Base = declarative_base()

# To declaration new table schema we need to add tools to mapping variable types from the database to Python: 

from sqlalchemy import Column, Integer, String, Date, Boolean
from sqlalchemy import ForeignKey, Sequence, CheckConstraint, UniqueConstraint

In [162]:
########## STRUCTURE OF THE DATABASE ##########

# COSTS
class Cost(Base):
    __tablename__ = 'costs'
    __table_args__ = (
        CheckConstraint('length(hoa) > 0'),
        CheckConstraint('length(rent_amount) > 0'),
        CheckConstraint('length(property_tax) > 0'),
        CheckConstraint('length(fire_insurance) > 0'),
        CheckConstraint('length(total) > 0')
    )
    id =            Column(Integer, primary_key=True)
    hoa =           Column(String(20))
    rent_amount =   Column(String(20))
    property_tax =  Column(String(20))
    fire_insurance = Column(String(20))
    total =         Column(String(20))

    def __repr__(self):
        return "<costs(id='{0}', hoa={1}, rent_amount={2}, property_tax={3}, fire_insurance={4}, total={5})>".format(
            self.id, self.hoa, self.rent_amount, self.property_tax, self.fire_insurance, self.total)


# PLACES
class Place(Base):
    __tablename__ = 'places'
    __table_args__ = (
        CheckConstraint('area > 0'),
        CheckConstraint('rooms >= 0'),
        CheckConstraint('bathroom >= 0'),
        CheckConstraint('parking_spaces >= 0')
    )
    id =            Column(Integer, primary_key=True)
    area =          Column(Integer)
    rooms =         Column(Integer)
    bathroom =      Column(Integer)
    parking_spaces = Column(Integer)

    def __repr__(self):
        return "<places(id='{0}', area={1}, rooms={2}, bathroom={3}, parking_spaces={4})>".format(
            self.id, self.area, self.rooms, self.bathroom, self.parking_spaces)


# PARAMETERS
class Parameter(Base):
    __tablename__ = 'parameters'
    __table_args__ = (
        CheckConstraint('city = 0 or city = 1'),
        CheckConstraint('length(furniture) > 0')
    )
    id =        Column(Integer, primary_key=True)
    floor =     Column(String(20))
    animal =    Column(String(20))
    furniture = Column(String(20))
    city =      Column(Integer)

    def __repr__(self):
        return "<parameters(id='{0}', floor={1}, animal={2}, furniture={3}, city={4})>".format(
            self.id, self.floor, self.animal, self.furniture, self.city)


# HOUSES
class House(Base):
    __tablename__ = 'houses'
    id =            Column(Integer, primary_key=True)
    id_costs =      Column(Integer, ForeignKey("costs.id"))
    id_places =     Column(Integer, ForeignKey("places.id"))
    id_parameters = Column(Integer, ForeignKey("parameters.id"))

    def __repr__(self):
        return "<houses(id='{0}', id_costs={1}, id_places={2}, id_parameters={3})>".format(
            self.id, self.id_costs, self.id_places, self.id_parameters)

Base.metadata.create_all(db)
db.table_names()
print("Finished")

Finished

In [163]:
# from sqlalchemy.orm import sessionmaker

# Session = sessionmaker(bind=db)
# session = Session()

## Put the data from the CSV file into the tables (variables):

# for index, row in data.iterrows():
#     city =          row['city']
#     area =          row['area']
#     rooms =         row['rooms']
#     bathroom =      row['bathroom']
#     parking_spaces = row['parking spaces']
#     floor =         row['floor']
#     animal =        row['animal']
#     furniture =     row['furniture']
#     hoa =           row['hoa']
#     rent_amount =   row['rent amount']
#     property_tax =  row['property tax']
#     fire_insurance = row['fire insurance']
#     total =         row['total']

# session.commit()

In [164]:
data.area.describe()

count     6080.000000
mean       151.143914
std        375.559485
min         10.000000
25%         58.000000
50%        100.000000
75%        200.000000
max      24606.000000
Name: area, dtype: float64

In [165]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6080 entries, 0 to 6079
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              6080 non-null   int64
 1   city            6080 non-null   int64
 2   area            6080 non-null   int64
 3   rooms           6080 non-null   int64
 4   bathroom        6080 non-null   int64
 5   parking spaces  6080 non-null   int64
 6   floor           6080 non-null   object
 7   animal          6080 non-null   object
 8   furniture       6080 non-null   object
 9   hoa             6080 non-null   object
 10  rent amount     6080 non-null   object
 11  property tax    6080 non-null   object
 12  fire insurance  6080 non-null   object
 13  total           6080 non-null   object
dtypes: int64(6), object(8)
memory usage: 665.1+ KB

In [166]:
# Check whether two option columns has only two options in them

all_animal = data['animal'].unique()
print("All animals: {0}" .format(all_animal))

all_furniture = data['furniture'].unique()
print("All furnitures: {0}" .format(all_furniture))

all_city = data['city'].unique()
print("All city: " + str(all_city))

All animals: ['acept' 'not acept']
All furnitures: ['furnished' 'not furnished']
All city: [1 0]

In [167]:
# Splitting the data into a table (lists of data sets)

costs_list = data[['hoa','rent amount','property tax','fire insurance','total']].drop_duplicates().reset_index().drop(columns = ['index'])
costs_list.index.name = 'id'
costs_list = costs_list.rename(columns = {'rent amount':'rent_amount','property tax':'property_tax','fire insurance':'fire_insurance'})

places_list = data[['area','rooms','bathroom','parking spaces']].drop_duplicates().reset_index().drop(columns = ['index'])
places_list.index.name = 'id'
places_list = places_list.rename(columns = {'parking spaces':'parking_spaces'})

parameters_list = data[['floor','animal','furniture','city']].drop_duplicates().reset_index().drop(columns = ['index'])
parameters_list.index.name = 'id'

houses_list = data[['city','area','rooms']].drop_duplicates().reset_index().drop(columns = ['index'])
houses_list.index.name = 'id'
houses_list = houses_list.rename(columns = {'city':'id_costs', 'area':'id_places', 'rooms':'id_parameters'})

In [168]:
costs_list.to_sql('costs',db, if_exists='append')

places_list.to_sql('places',db, if_exists='append')

parameters_list.to_sql('parameters',db, if_exists='append')