# Advanced databases

## Creating database - constraints

### dr  inż. Waldemar Bauer

## Table constraints 
Database constraints are restrictions on the contents of the database or on database operations
 
Database constraints provide a way to guarantee that:

- rows in a table have valid primary key values,

- rows in a dependent table have valid foreign key values,

- individual column values are valid .

## Modification of existing table
```sql
ALTER TABLE table_name action;
```
### Action
- add column
- add constraint
- drop column
- drop constraint
- rename column
- rename table
- alter column to DEFAULT and NULL constraints

## Constraints on the columns

- PRIMARY Key − Uniquely identifies each row/record in a database table, can't be NULL value.

- FOREIGN Key − Uniquely identifies a row/record in any of the given database table, can be NULL value.

- NOT NULL − Ensures that a column cannot have NULL value.

- UNIQUE  − Ensures that all values in a column are different.

- DEFAULT − Provides a default value for a column when none is specified.

- CHECK  − The CHECK constraint ensures that all the values in a column satisfies certain conditions.

- INDEX − Used to create and retrieve data from the database very quickly.

## Example table
Table definition:
```sql
CREATE TABLE users
(
    id integer,
    name character varying(20),
)
```

## SQL Null and NOT NULL
- A field with a NULL value is a field with no value.
- The NULL value is different from a zero value or a field that contains spaces.
- The NULL type is used then a field in a table is optional. 
- If a column doesn't have constraint NOT NULL it is possible to insert a new record or update a record without adding a value to this field.

## ADD NOT NULL and PRIMARY Key
```sql
alter table users alter column id set NOT NULL; 
alter table users add PRIMARY KEY (id)
```
updated table definition:

```sql
CREATE TABLE users
(
    id integer NOT NULL,
    name character varying(20),
    CONSTRAINT users_pkey PRIMARY KEY (id)
)
```

## UNIQUE

- In columns  with this constraint, all values must be unique in the table

- Doesn't have to be defined with Not Null, that mean column can have many null values

## Add UNIQUE
```sql
alter table users add constraint unique_users unique (id);
```

Add value:
```sql 
insert into users(1)
insert into users(2)
insert into users(3, 'Monika')

```
Table values:

| id 	|  name  	|
|:--:	|:------:	|
|  1 	|  Null  	|
|  2 	|  Null  	|
|  3 	| Monika 	|

## DEFAULT
- Assigned a default value to a column.
- Can be used by serial and function.

### Example:
```sql 
-- Add the column to the table 
alter table users add nickname character varying(30);
alter table users add card_number int;

-- Add default nickname
alter table users alter column nickname set default '';

-- Create sequence
create SEQUENCE card_number_seq;

-- Add default value of card_number as null
alter table users alter column card_number set default nextval('card_number_seq');

-- Insert now data without columns with default value definition
insert into users (id, name) values 
(4, 'Dawid'),
(5, 'Krzyś');
```

## Results

### Table definition:
```sql

CREATE TABLE users
(
    id integer NOT NULL,
    name character varying(20),
    card_number integer DEFAULT nextval('card_number_seq'),
    nickname character varying(30) DEFAULT '',
    CONSTRAINT users_pkey PRIMARY KEY (id),
    CONSTRAINT unique_name UNIQUE (name)

)
```

### All records:
| id 	|   name   	| card_number 	| nickname 	|
|:--:	|:--------:	|:-----------:	|:---------:	|
|  1 	|   Null   	|     Null    	|    Null   	|
|  2 	|   Null   	|     Null    	|    Null   	|
|  3 	| "Monika" 	|     Null    	|    Null   	|
|  4 	|  "Dawid" 	|      2      	|      ""     	|
|  5 	|  "Krzyś" 	|      3      	|      ""     	|

## Problems with defults value

Add data:

```sql
insert into users (id, name, card_number, nickname) values 
(6, 'Mirek', 1, 'Misiek'),
(7, 'Daniel', 2, 'Kot');
```
Result:

| id 	|   name   	| card_number 	| nickname 	|
|:--:	|:--------:	|:-----------:	|:---------:	|
|  1 	|   Null   	|     Null    	|    Null   	|
|  2 	|   Null   	|     Null    	|    Null   	|
|  3 	| "Monika" 	|     Null    	|    Null   	|
|  4 	|  "Dawid" 	|      2      	|     ""    	|
|  5 	|  "Krzyś" 	|      3      	|     ""    	|
|  6 	|  "Mirek" 	|      1      	|  "Misiek" 	|
|  7 	| "Daniel" 	|      2      	|   "Kot"   	|

## CHECK

- Used to enforce the validity of column values. 
- A check constraint can compare a column to a constant or result of function

### Example:
```sql
alter table users add constraint chcek_nick_name_len check ( length(nickname) = 0 or length(nickname) >=3 )
```

### Table definition:
```sql
CREATE TABLE users
(
    id integer NOT NULL,
    name character varying(20) ,
    card_number integer DEFAULT nextval('card_number_seq'),
    nickname character varying(30) DEFAULT '',
    CONSTRAINT users_pkey PRIMARY KEY (id),
    CONSTRAINT unique_name UNIQUE (name),
    CONSTRAINT chcek_nick_name_len CHECK (length(nickname) = 0 OR length(nickname::text) >= 3)
)
```

## Exercise

Add data set 1:
    
```sql 
insert into users (id, name) values 
(8, 'Waldemar'),
(9, 'Anna');
```
Add data set 2:
```sql
insert into users (id, name, nickname) values 
(10, 'Krysia', NULL),
(11, 'Zosia', 'Milka' );
```
Add data set 3:
```sql
insert into users (id, name, nickname) values 
(12, 'Tomasz', 'as'),
(13, 'Wiola', 'Ala' );
```

###  <center> Which queries will go through and why?</center>

## Results

| id 	|    name    	| card_number 	| nick_name 	|
|:--:	|:----------:	|:-----------:	|:---------:	|
|  1 	|    Null    	|     Null    	|    Null   	|
|  2 	|    Null    	|     Null    	|    Null   	|
|  3 	|  "Monika"  	|     Null    	|    Null   	|
|  4 	|   "Dawid"  	|      2      	|     ""    	|
|  5 	|   "Krzyś"  	|      3      	|     ""    	|
|  6 	|   "Mirek"  	|      1      	|  "Misiek" 	|
|  7 	|  "Daniel"  	|      2      	|   "Kot"   	|
|  8 	| "Waldemar" 	|      4      	|     ""     	|
|  9 	|   "Anna"   	|      5      	|     ""      	|
| 10 	|  "Krysia"  	|      6      	|    Null   	|
| 11 	|   "Zosia"  	|      7      	|  "Milka"  	|

## Edit constraint

- We can't edit constraint directly
- On the beginning, we need to drop constraint from a table
- After that, we define a new constraint

### Drop by type
```sql
alter table table_name alter column column_name drop constraint_type;
```

### Drop by constraint name
```sql
alter table table_name drop constraint constraint_name;
```

## Example:
```sql
-- by type
alter table users alter column nickname drop Default;

-- by name
alter table users drop constraint chcek_nick_name_len;
```
### Table definition:
```sql
CREATE TABLE users
(
    id integer NOT NULL,
    name character varying(20),
    card_number integer DEFAULT nextval('card_number_seq'::regclass),
    nickname character varying(30),
    CONSTRAINT users_pkey PRIMARY KEY (id),
    CONSTRAINT unique_name UNIQUE (name)
)
```

## Foreign Key Constraints 

- A foreign key constraint specifies how records in different tables are related and how should handle row insert, delete, and update operations that might violate the relationship. 

- With a relational DBMS, the relationship between rows in two tables is expressed by a foreign key in the dependent table. 

- A foreign key is one or more columns that contain a value identical to a primary key (or unique key) value in some row in the parent table (i.e., the referenced table)

## Define Foreign Key
```sql
alter table child_table add constraint constraint_name 
FOREIGN KEY (column_name1, column_name2,... ) 
REFERENCES parent_table (column_name1, column_name2, ... ) 
[ON DELETE {RESTRICT | CASCADE | SET NULL | NO ACTION}]
[ON UPDATE {RESTRICT | CASCADE | SET NULL | NO ACTION}] ;
```

### DELETE/UPDATE action:
- RESTRICT - if in child table exist reference to parents record we can modified parent record.
- CASCADE - change the referencing rows in the child table when the referenced row is modified.
- SET NULL - set null in child table if it is posible
- NO ACTION -  if any referencing rows still exist when the constraint is checked, an error is raised

## Example

### Table post

```sql
CREATE TABLE posts
(
    id integer NOT NULL,
    text character varying(30),
    user_id integer,
    CONSTRAINT post_pkey PRIMARY KEY (id)
)
```

### Connect post with user
```sql
alter table post add constraint fk_users FOREIGN KEY (user_id) REFERENCES users (id) on update restrict on delete cascade;
```

### Result

```sql
CREATE TABLE post
(
    id integer NOT NULL,
    text "char"[],
    user_id integer,
    CONSTRAINT post_pkey PRIMARY KEY (id),
    CONSTRAINT fk_users FOREIGN KEY (user_id)
        REFERENCES public.users (id) MATCH SIMPLE
        ON UPDATE RESTRICT
        ON DELETE CASCADE
)
```