In [7]:
#############
#Wojciech Grzelinski
#Description of the exercise is at the bottom of the lab3.md file :)
#############

from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
import pandas as pd

# sqlalchemy, psycopg2, pandas
'''
Database properties:

login: wbauer_adb

password: adb2020

database_name: wbauer_adb
'''

# db_string = "database_type://user:password@database_url:port/database_name"
# db_string = 'postgresql://wbauer_adb:adb2020@pgsql-196447.vipserv.org:5432/wbauer_adb'

# db = create_engine(db_string)

In [8]:
# Count the number of the dataset

database_number = (len("Wojciech") + len("Grzelinski")) % 6
print(database_number)

0

In [9]:
data = pd.read_csv("houses_to_rent.csv")
data.rename(columns={'Unnamed: 0':'id'}, inplace=True)
kolumny = data.columns
print(kolumny)
data.head()

Index(['id', 'city', 'area', 'rooms', 'bathroom', 'parking spaces', 'floor',
       'animal', 'furniture', 'hoa', 'rent amount', 'property tax',
       'fire insurance', 'total'],
      dtype='object')

,id,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"
2,2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
3,3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116"
4,4,1,19,1,1,0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257"

In [10]:
# Line *Base = declarative_base()* run automatically process of mapping existing tables in a database to class and give us tools to declare new tables schema.  

Base = declarative_base()

# To declaration new table schema we need to add tools to mapping variable types from the database to Python: 

from sqlalchemy import Column, Integer, String, Date, Boolean
from sqlalchemy import ForeignKey

In [11]:
########## STRUCTURE OF THE DATABASE ##########

# HOUSES
class House(Base):
    __tablename__ = 'houses'
    id =            Column(Integer, primary_key=True)
    id_costs =      Column(Integer, ForeignKey("costs.id"))
    id_places =     Column(Integer, ForeignKey("places.id"))
    id_parameters = Column(Integer, ForeignKey("parameters.id"))

    def __repr__(self):
        return "<houses(id='{0}', area={1}, rooms={2}, bathroom={3})>".format(
            self.id, self.area, self.rooms, self.bathroom)


# COSTS
class Cost(Base):
    __tablename__ = 'costs'
    id =            Column(Integer, primary_key=True)
    hoa =           Column(String(20))
    rent_amount =   Column(String(20))
    property_tax =  Column(String(20))
    fire_insurance = Column(String(20))
    total =         Column(String(20))

    def __repr__(self):
        return "<costs(id='{0}', hoa={1}, rent_amount={2}, property_tax={3}, fire_insurance={4}, total={5})>".format(
            self.id, self.hoa, self.rent_amount, self.property_tax, self.fire_insurance, self.total)


# PLACES
class Place(Base):
    __tablename__ = 'places'
    id =            Column(Integer, primary_key=True)
    area =          Column(Integer)
    rooms =         Column(Integer)
    bathroom =      Column(Integer)
    parking_spaces = Column(Integer)

    def __repr__(self):
        return "<places(id='{0}', area={1}, rooms={2}, bathroom={3}, parking_spaces={4})>".format(
            self.id, self.area, self.rooms, self.bathroom, self.parking_spaces)


# PARAMETERS
class Parameter(Base):
    __tablename__ = 'parameters'
    id =        Column(Integer, primary_key=True)
    floor =     Column(Integer)
    animal =    Column(String(20))
    furniture = Column(String(20))
    city =      Column(Boolean)

    def __repr__(self):
        return "<parameters(id='{0}', floor={1}, animal={2}, furniture={3}, city={4})>".format(
            self.id, self.floor, self.animal, self.furniture, self.city)

In [12]:
from sqlalchemy.orm import sessionmaker

# Session = sessionmaker(bind=db)
# session = Session()

# Put the data from the CSV file into the tables (variables):

for index, row in data.iterrows():
    city =          row['city']
    area =          row['area']
    rooms =         row['rooms']
    bathroom =      row['bathroom']
    parking_spaces = row['parking spaces']
    floor =         row['floor']
    animal =        row['animal']
    furniture =     row['furniture']
    hoa =           row['hoa']
    rent_amount =   row['rent amount']
    property_tax =  row['property tax']
    fire_insurance = row['fire insurance']
    total =         row['total']