# Advanced databases

## Transaction - ACID 
### dr  inż. Waldemar Bauer

## Transaction

- A transaction, in the context of a database, is a logical unit that is independently executed for data retrieval or updates. 

- Is a basic mechanism in a database server on to guaranteed consistent the data.

## Tarnsaction schema

<img src='img/transaction_schema.png'>

## Transaction Controls

- COMMIT − to save the changes.

- ROLLBACK − to roll back the changes.

- SAVEPOINT − creates points within the groups of transactions in which to ROLLBACK.

- SET TRANSACTION − Places a name on a transaction.

**Transactional control commands are only used with the DML Commands : INSERT, UPDATE and DELETE.**

## Example table
<center>
    
| id 	|        name       	|    surname    	|   born_data  	|
|:--:	|:-----------------:	|:-------------:	|:------------:	|
|  1 	|     "William"     	| "Shakespeare" 	| "1564-04-26" 	|
|  2 	|      "Albert"     	|    "Camus"    	| "1913-11-07" 	|
|  3 	|     "Henryk "     	| "Sienkiewicz" 	| "1846-05-05" 	|
|  4 	|     "Victor "     	|     "Hugo"    	| "1802-02-26" 	|
|  5 	|   "Edgar Allan"   	|     "Poe"     	| "1809-01-19" 	|
|  6 	|      "Oscar"      	|    "Wilde"    	| "1854-10-16" 	|
|  7 	| "Johann Wolfgang" 	|    "Goethe"   	| "1749-08-28" 	|
|  8 	|     "Umberto "    	|      "Eco     	| "1932-01-05" 	|
|  9 	|      "Edward"     	|   "Stachura"  	| "1937-08-18" 	|
| 10 	| "Krzysztof Kamil" 	|  "Baczyński"  	| "1921-01-22" 	|

</center>

## Transaction COMMIT

```sql
update authors set id=100  where id = 10;
update authors set id=90  where id = 9;
commit;
```
Results:

| id 	|        name       	|    surname    	|   born_data  	|
|:--:	|:-----------------:	|:-------------:	|:------------:	|
|  1 	|     "William"     	| "Shakespeare" 	| "1564-04-26" 	|
|  2 	|      "Albert"     	|    "Camus"    	| "1913-11-07" 	|
|  3 	|     "Henryk "     	| "Sienkiewicz" 	| "1846-05-05" 	|
|  4 	|     "Victor "     	|     "Hugo"    	| "1802-02-26" 	|
|  5 	|   "Edgar Allan"   	|     "Poe"     	| "1809-01-19" 	|
|  6 	|      "Oscar"      	|    "Wilde"    	| "1854-10-16" 	|
|  7 	| "Johann Wolfgang" 	|    "Goethe"   	| "1749-08-28" 	|
|  8 	|     "Umberto "    	|      "Eco     	| "1932-01-05" 	|
|  90 	|      "Edward"     	|   "Stachura"  	| "1937-08-18" 	|
| 100 	| "Krzysztof Kamil" 	|  "Baczyński"  	| "1921-01-22" 	|

## Transaction ROLLBACK after COMMIT

```sql
update authors set id=10  where id = 100;
update authors set id=9  where id = 90;

commit;

rollback;

select * from authors where id in (100, 90) order by id ;

```

Results:

| id 	|        name       	|    surname    	|   born_data  	|
|:--:	|:-----------------:	|:-------------:	|:------------:	|
| 	    |                    	|               	|           	|

## Table state ROLLBACK after COMMIT
```sql
select * from authors order by id;
```

<center>
    
| id 	|        name       	|    surname    	|   born_data  	|
|:--:	|:-----------------:	|:-------------:	|:------------:	|
|  1 	|     "William"     	| "Shakespeare" 	| "1564-04-26" 	|
|  2 	|      "Albert"     	|    "Camus"    	| "1913-11-07" 	|
|  3 	|     "Henryk "     	| "Sienkiewicz" 	| "1846-05-05" 	|
|  4 	|     "Victor "     	|     "Hugo"    	| "1802-02-26" 	|
|  5 	|   "Edgar Allan"   	|     "Poe"     	| "1809-01-19" 	|
|  6 	|      "Oscar"      	|    "Wilde"    	| "1854-10-16" 	|
|  7 	| "Johann Wolfgang" 	|    "Goethe"   	| "1749-08-28" 	|
|  8 	|     "Umberto "    	|      "Eco     	| "1932-01-05" 	|
|  9 	|      "Edward"     	|   "Stachura"  	| "1937-08-18" 	|
| 10 	| "Krzysztof Kamil" 	|  "Baczyński"  	| "1921-01-22" 	|

</center>

## Transaction ROLLBACK befor COMMIT

```sql
update authors set id=100  where id = 10;
update authors set id=90  where id = 9;

rollback;

commit;

select * from authors where id in (100, 90) order by id ;

```

### Results:

| id 	|        name       	|    surname    	|   born_data  	|
|:--:	|:-----------------:	|:-------------:	|:------------:	|
| 	    |                    	|               	|           	|

## Table state after ROLLBACK befor COMMIT
```sql
select * from authors order by id;
```

<center>
    
| id 	|        name       	|    surname    	|   born_data  	|
|:--:	|:-----------------:	|:-------------:	|:------------:	|
|  1 	|     "William"     	| "Shakespeare" 	| "1564-04-26" 	|
|  2 	|      "Albert"     	|    "Camus"    	| "1913-11-07" 	|
|  3 	|     "Henryk "     	| "Sienkiewicz" 	| "1846-05-05" 	|
|  4 	|     "Victor "     	|     "Hugo"    	| "1802-02-26" 	|
|  5 	|   "Edgar Allan"   	|     "Poe"     	| "1809-01-19" 	|
|  6 	|      "Oscar"      	|    "Wilde"    	| "1854-10-16" 	|
|  7 	| "Johann Wolfgang" 	|    "Goethe"   	| "1749-08-28" 	|
|  8 	|     "Umberto "    	|      "Eco     	| "1932-01-05" 	|
|  9 	|      "Edward"     	|   "Stachura"  	| "1937-08-18" 	|
| 10 	| "Krzysztof Kamil" 	|  "Baczyński"  	| "1921-01-22" 	|

</center>

## Transaction SAVEPOINT

```sql
update authors set id=100  where id = 10;
update authors set id=90  where id = 9;
savepoint test_1;

update authors set id=10  where id = 100;
update authors set id=9  where id = 90;

rollback to test_1;
commit;

select * from authors where id in (100, 90) order by id ;

```
### Results
<center>
    
| id 	|        name       	|    surname    	|   born_data  	|
|:--:	|:-----------------:	|:-------------:	|:------------:	|
|  90 	|      "Edward"     	|   "Stachura"  	| "1937-08-18" 	|
| 100 	| "Krzysztof Kamil" 	|  "Baczyński"  	| "1921-01-22" 	|

</center>

## ACID rule

<center> <img src='img/acid_rule.png'> </center>

## Atomicity

- **''All or nothing rule''** = if any of the statements constituting a transaction fails to complete, the entire transaction fails and the database is left unchanged
- Transactions are often composed of multiple statements.
- An atomic system must guarantee atomicity in each and every situation.
- Atomicity guarantees that each transaction is treated as a single "unit".

## Atomicity translaction example

|  Begin  	|   X = 200   	|   Y = 300   	|
|:-------:	|:-----------:	|:-----------:	|
| Execute 	|   Read(X)   	|   Read(Y)   	|
|         	| X = X - 100 	| Y = Y + 100 	|
|  Commit 	|   Write(X)  	|   Write(Y)  	|
|  After  	|   X = 100   	|   Y = 400   	|

## Consistency

- Guarantee that any transaction in future see the effects of other transaction commited in the past.
- Guarantee that database constraints are not violated by transaction commits.
- Guarantee that operations in transactions are performed accurately, correctly, and with validity, with respect to database server rules.
- This does not guarantee correctness of the transaction

## Consistency translaction example

|  Begin  	|   X = 200   	|   Y = 300   	| X + Y = 500 	|
|:-------:	|:-----------:	|:-----------:	|-------------	|
| Execute 	|   Read(X)   	|   Read(Y)   	|             	|
|         	| X = X - 100 	| Y = Y + 100 	|             	|
|  Commit 	|   Write(X)  	|   Write(Y)  	|             	|
|  After  	|   X = 100   	|   Y = 400   	| X + Y = 500 	|

## Isolation
- This property ensures that multiple transactions can occur concurrently without leading to inconsistency of database state. 
- Transactions occur independently without interference. 
- Changes occurring in a particular transaction will not be visible to any other transaction until that particular change in that transaction is written to memory or has been committed. 
- This property ensures that the execution of transactions concurrently will result in a state that is equivalent to a state achieved these were executed serially in some order.

## Why do we need Isolation?

|         	| Transaction 1 	| Transaction 2 	|
|:-------:	|:-------------:	|:-------------:	|
|  Begin  	|       Y       	|      X,Y      	|
| Execute 	|    Read(Y)    	|    Read(X)    	|
|         	|    Y = Y-50   	|    Read(Y)    	|
|         	|               	|   X = X + Y   	|
|  Commit 	|    Write(Y)   	|    Write(X)   	|
|  After  	|    Y = ???    	|    X = ???    	|

## Isolation problems
- Dirty Reads
- Lost updates	
- Non-repeatable Reads
- Phantom Reads

## Dirty Reads

|              Transaction 1             	|                   Transaction 2                  	|
|:--------------------------------------:	|:------------------------------------------------:	|
|                 BEGIN;                 	|                      BEGIN;                      	|
| SELECT name FROM authors WHERE id = 1; 	|                                                  	|
|            -- name = William           	| UPDATE authors SET name = "Willie" WHERE id = 1; 	|
|                                        	|                 -- no commit here                	|
| SELECT name FROM authors WHERE id = 1; 	|                                                  	|
|            -- name = Willie            	|                                                  	|

## Non-repeatable Reads
|              Transaction 1             	|                   Transaction 2                  	|
|:--------------------------------------:	|:------------------------------------------------:	|
|                 BEGIN;                 	|                      BEGIN;                      	|
| SELECT name FROM authors WHERE id = 1; 	|                                                  	|
|            -- name = William           	| UPDATE authors SET name = "Willie" WHERE id = 1; 	|
|                                        	|                      COMMIT;                     	|
| SELECT name FROM authors WHERE id = 1; 	|                                                  	|
|            -- name = Willie            	|                                                  	|

## Lost updates
|                 Transaction 1                	|                   Transaction 2                  	|
|:--------------------------------------------:	|:------------------------------------------------:	|
|                    BEGIN;                    	|                      BEGIN;                      	|
|    SELECT name FROM authors WHERE id = 1;    	|      SELECT name FROM authors WHERE id = 1;      	|
|               -- name = William              	|                 -- name = William                	|
|                                              	| UPDATE authors SET name = "Willie" WHERE id = 1; 	|
| UPDATE authors SET name = "W." WHERE id = 1; 	|                                                  	|
|                    COMMIT                    	|                                                  	|
|    SELECT name FROM authors WHERE id = 1;    	|                                                  	|
|                  -- name = W                 	|                      COMMIT                      	|
|                                              	|      SELECT name FROM authors WHERE id = 1;      	|
|                                              	|                 -- name = Willie                 	|
|    SELECT name FROM authors WHERE id = 1;    	|                                                  	|
|               -- name = Willie               	|                                                  	|

## Phantom Reads
|         Transaction 1         	|                                      Transaction 2                                     	|
|:-----------------------------:	|:--------------------------------------------------------------------------------------:	|
|             BEGIN;            	|                                         BEGIN;                                         	|
| SELECT count(*) FROM authors; 	|                                                                                        	|
|          -- count= 10         	| Insert into authors(name,surname,born_date) Values ("A.", "Mickiewicz", "24.12.1798"); 	|
|                               	|                                         COMMIT;                                        	|
| SELECT count(*) FROM authors; 	|                                                                                        	|
|          -- count= 11         	|                                                                                        	|

## Isolation levels 

| Isolation level  	|                    Dirty reads                   	|                   Lost updates                   	|              Non-repeatable reads              	|                  Phantoms reads                  	|
|------------------	|:------------------------------------------------:	|:------------------------------------------------:	|:----------------------------------------------:	|:------------------------------------------------:	|
| Read Uncommitted 	|    <span style="color:red"> may occur </span>    	|    <span style="color:red"> may occur </span>    	|   <span style="color:red"> may occur </span>   	|    <span style="color:red"> may occur </span>    	|
| Read Committed   	|  <span style="color:green"> don't occur </span>  	|    <span style="color:red"> may occur </span>    	|   <span style="color:red"> may occur </span>   	|    <span style="color:red"> may occur </span>    	|
| Repeatable Read  	| <span style="color:green">  don't occur  </span> 	| <span style="color:green">  don't occur  </span> 	| <span style="color:green"> don't occur </span> 	|    <span style="color:red"> may occur </span>    	|
| Serializable     	| <span style="color:green">  don't occur  </span> 	| <span style="color:green">  don't occur  </span> 	| <span style="color:green"> don't occur </span> 	| <span style="color:green">  don't occur  </span> 	|

## Durability
- This property ensures that once the transaction has completed execution, the updates and modifications to the database are stored in and written to disk and they persist even if system failure occurs.
- The effects of the transaction, thus, are never lost.