# Advanced databases

## Join tables
### dr  inż. Waldemar Bauer

## SQL Join

- Is used to combine columns from one (self-join) or more tables
- Based on the values of the common columns between the tables 
- Mostly columns are the primary key columns of the first table and foreign key columns of the second table.

## Example database 

```sql
CREATE TABLE shape_a (
    id INT PRIMARY KEY,
    shape VARCHAR (100) NOT NULL
);
 
CREATE TABLE shape_b (
    id INT PRIMARY KEY,
    shape VARCHAR (100) NOT NULL
);
```

## Example data set

```sql
INSERT INTO shape_a (id, shape)
VALUES
    (1, 'Triangle'),
    (2, 'Square'),
    (3, 'Deltoid'),
    (4, 'Trapezoid');
    
INSERT INTO shape_b (id, shape)
VALUES
    (1, 'Square'),
    (2, 'Triangle'),
    (3, 'Rhomb'),
    (4, 'Parallelogram');
```

## Join by where

```sql
select  shape_a.id, shape_a.shape as shape_a, shape_b.shape as shape_b 
from shape_a, shape_b 
where shape_a.id = shape_b.id
```

| id 	|   shape_a   	|     shape_b     	|
|:--:	|:-----------:	|:---------------:	|
|  1 	|  "Triangle" 	|     "Square"    	|
|  2 	|   "Square"  	|    "Triangle"   	|
|  3 	|  "Deltoid"  	|     "Rhomb"     	|
|  4 	| "Trapezoid" 	| "Parallelogram" 	|

## Inner join
```sql
SELECT
    a.id id,
    a.shape shape_a,
    b.shape shape_b
FROM
    shape_a a
INNER JOIN shape_b b ON a.id = b.id;
```

| id 	|   shape_a   	|     shape_b     	|
|:--:	|:-----------:	|:---------------:	|
|  1 	|  "Triangle" 	|     "Square"    	|
|  2 	|   "Square"  	|    "Triangle"   	|
|  3 	|  "Deltoid"  	|     "Rhomb"     	|
|  4 	| "Trapezoid" 	| "Parallelogram" 	|

## LEFT [ OUTER ] JOIN


```sql
SELECT
    a.id id_a,
    a.shape shape_a,
    b.id id_b,
    b.shape shape_b
FROM
    shape_a a
LEFT JOIN shape_b b ON a.shape = b.shape;
```


| id_a 	|   shape_a   	| id_b 	|   shape_b  	|
|:----:	|:-----------:	|:----:	|:----------:	|
|   1  	|  "Triangle" 	|   2  	| "Triangle" 	|
|   2  	|   "Square"  	|   1  	|  "Square"  	|
|   3  	|  "Deltoid"  	| null 	|    null    	|
|   4  	| "Trapezoid" 	| null 	|    null    	|

## RIGHT [ OUTER ] JOIN


```sql
SELECT
    a.id id_a,
    a.shape shape_a,
    b.id id_b,
    b.shape shape_b
FROM
    shape_a a
RIGHT JOIN shape_b b ON a.shape = b.shape;
```

| id_a 	|   shape_a  	| id_b 	|     shape_b     	|
|:----:	|:----------:	|:----:	|:---------------:	|
|   2  	|  "Square"  	|   1  	|     "Square"    	|
|   1  	| "Triangle" 	|   2  	|    "Triangle"   	|
| null 	|    null    	|   3  	|     "Rhomb"     	|
| null 	|    null    	|   4  	| "Parallelogram" 	|

## FULL [ OUTER ]   JOIN

```sql
SELECT
    a.id id_a,
    a.shape shape_a,
    b.id id_b,
    b.shape shape_b
FROM
    shape_a a
FULL JOIN shape_b b ON a.shape = b.shape;
```
| id_a 	|   shape_a   	| id_b 	|     shape_b     	|
|:----:	|:-----------:	|:----:	|:---------------:	|
|   1  	|  "Triangle" 	|   2  	|    "Triangle"   	|
|   2  	|   "Square"  	|   1  	|     "Square"    	|
|   3  	|  "Deltoid"  	| null 	|       null      	|
|   4  	| "Trapezoid" 	| null 	|       null      	|
| null 	|     null    	|   3  	|     "Rhomb"     	|
| null 	|     null    	|   4  	| "Parallelogram" 	|

##  NATURAL  JOIN 

```sql
SELECT 
    a.id id_a,
    a.shape shape_a,
    b.id id_b,
    b.shape shape_b
FROM shape_a a
NATURAL JOIN shape_b b;
```

| id_a 	|   shape_a   	| id_b 	|     shape_b     	|
|:----:	|:-----------:	|:----:	|:---------------:	|

##  NATURAL LEFT JOIN USING

```sql
SELECT 
    a.id id_a,
    a.shape shape_a,
    b.id id_b,
    b.shape shape_b
FROM shape_a a
NATURAL LEFT JOIN shape_b b;
```

| id_a 	|   shape_a   	| id_b 	| shape_b 	|
|:----:	|:-----------:	|:----:	|:-------:	|
|   1  	|  "Triangle" 	| null 	|   null  	|
|   2  	|   "Square"  	| null 	|   null  	|
|   3  	|  "Deltoid"  	| null 	|   null  	|
|   4  	| "Trapezoid" 	| null 	|   null  	|

##  NATURAL RIGHT JOIN USING
```sql
SELECT 
    a.id id_a,
    a.shape shape_a,
    b.id id_b,
    b.shape shape_b
FROM shape_a a
NATURAL RIGHT JOIN shape_b b;
```
| id_a 	| shape_a 	| id_b 	|     shape_b     	|
|:----:	|:-------:	|:----:	|:---------------:	|
| null 	|   null  	|   1  	|     "Square"    	|
| null 	|   null  	|   2  	|    "Triangle"   	|
| null 	|   null  	|   3  	|     "Rhomb"     	|
| null 	|   null  	|   4  	| "Parallelogram" 	|

## SELF JOIN

```sql
SELECT
    f1.title film_1,
    f2.title film_2,
    f1. length
FROM
    film f1
INNER JOIN film f2 ON f1.film_id <> f2.film_id
AND f1.length> 100 AND  f1. length = f2. length;
```
|       film_1       	|          film_2          	| length 	|
|:------------------:	|:------------------------:	|:------:	|
|  "Chamber Italian" 	| "Resurrection Silverado" 	|   117  	|
|  "Chamber Italian" 	|     "Magic Mallrats"     	|   117  	|
|  "Chamber Italian" 	|      "Graffiti Love"     	|   117  	|
|  "Chamber Italian" 	|    "Affair Prejudice"    	|   117  	|
| "Affair Prejudice" 	| "Resurrection Silverado" 	|   117  	|
| "Affair Prejudice" 	|     "Magic Mallrats"     	|   117  	|
| "Affair Prejudice" 	|     "Chamber Italian"    	|   117  	|
|         ...        	|            ...           	|   ...  	|

## CROSS JOIN

```sql
CREATE TABLE name (name CHAR(6));
CREATE TABLE value (value INT );
INSERT INTO name (name)
VALUES
	('Anna'),
	('Bert'),
    ('Maick');
INSERT INTO value (value)
VALUES
	(1),
	(2);
 ```

## CROSS JOIN
```sql
SELECT
	*
FROM
	name
CROSS JOIN value;
```
|   name   	| value 	|
|:--------:	|:-----:	|
|  "Anna"  	|   1   	|
|   "Bert  	|   1   	|
| "Maick " 	|   1   	|
|   "Anna  	|   2   	|
|   "Bert  	|   2   	|
| "Maick " 	|   2   	|

## Merge  join

```sql
select a.first_name, a.last_name, f.title from actor a 
inner join film_actor fa on a.actor_id = fa.actor_id inner 
join film f on fa.film_id = f.film_id;
```
is equivalent: 

```sql
select a.first_name, a.last_name, f.title 
from actor a, film f, film_actor fa 
where a.actor_id = fa.actor_id and fa.film_id = f.film_id;
```

## Result example mearge join

| first_name 	| last_name 	|          title          	|
|:----------:	|:---------:	|:-----------------------:	|
| "Penelope" 	| "Guiness" 	|    "Academy Dinosaur"   	|
| "Penelope" 	| "Guiness" 	|  "Anaconda Confessions" 	|
| "Penelope" 	| "Guiness" 	|      "Angels Life"      	|
| "Penelope" 	| "Guiness" 	| "Bulworth Commandments" 	|
| "Penelope" 	| "Guiness" 	|     "Cheaper Clyde"     	|
| "Penelope" 	| "Guiness" 	|   "Color Philadelphia"  	|
| "Penelope" 	| "Guiness" 	|    "Elephant Trojan"    	|
| "Penelope" 	| "Guiness" 	|  "Gleaming Jawbreaker"  	|
|     ...    	|    ...    	|           ...           	|

## Performeance join merginig tables

<img src='./img/per_join.png'>

## Performeance where merginig tables

<img src='./img/per_where.png'>

## Join with sub query

**Option 1:**
```sql
select a.first_name, a.last_name, f.title from actor a 
inner join film_actor fa on a.actor_id = fa.actor_id 
inner join film f on fa.film_id = f.film_id 
and 
length(a.first_name) < 3 and length(a.last_name)> 5 ;
```

**Option 2:**
```sql
select a.first_name, a.last_name, f.title from 
(select actor_id, first_name, last_name from actor where length(first_name) < 3 and length(last_name)> 5 ) as a 
inner join film_actor fa on a.actor_id = fa.actor_id 
inner join film f on fa.film_id = f.film_id;
```

**Option 3:**
```sql
select a.first_name, a.last_name, f.title from actor a 
inner join film_actor fa on a.actor_id = fa.actor_id 
and length(a.first_name) < 3 and length(a.last_name)> 5  
inner join film f on fa.film_id = f.film_id;
```

## Result:

| first_name 	|  last_name  	|          title          	|
|:----------:	|:-----------:	|:-----------------------:	|
|    "Ed"    	| "Mansfield" 	|  "Amelie Hellfighters"  	|
|    "Ed"    	| "Mansfield" 	|      "Angels Life"      	|
|    "Ed"    	| "Mansfield" 	|      "Apollo Teen"      	|
|    "Ed"    	| "Mansfield" 	|  "Barefoot Manchurian"  	|
|    "Ed"    	| "Mansfield" 	|     "Beauty Grease"     	|
|    "Ed"    	| "Mansfield" 	| "Crossroads Casualties" 	|
|    "Ed"    	| "Mansfield" 	|    "Daughter Madigan"   	|
|    "Ed"    	| "Mansfield" 	|      "Devil Desire"     	|
|     ...    	|     ...     	|           ...           	|

## Performance option 1

<img src='./img/per_option1.png'>

## Performance option 2

<img src='./img/per_option2.png'>

## Performance option 3

<img src='./img/per_option3.png'>

## Performance in right join

**Option 1:**
```sql
select a.first_name, a.last_name, f.title from actor a 
right join film_actor fa on a.actor_id = fa.actor_id 
right join film f on fa.film_id = f.film_id 
and 
length(a.first_name) < 3 and length(a.last_name)> 5 order by first_name DESC;
```

**Option 2:**
```sql
select a.first_name, a.last_name, f.title from 
(select actor_id, first_name, last_name from actor where length(first_name) < 3 and length(last_name)> 5 ) as a 
right join film_actor fa on a.actor_id = fa.actor_id 
right join film f on fa.film_id = f.film_id order by first_name DESC;
```

**Option 3:**
```sql
select a.first_name, a.last_name, f.title from actor a 
right join film_actor fa on a.actor_id = fa.actor_id 
and length(a.first_name) < 3 and length(a.last_name)> 5  
right join film f on fa.film_id = f.film_id order by first_name DESC;
```

## Performance right join option 1

<img src='./img/per_option1_r.png'>

## Performance option 2

<img src='./img/per_option2_r.png'>

## Performance option 3

<img src='./img/per_option3_r.png'>