In [60]:
#############
#Wojciech Grzelinski
#Description of the exercise is at the bottom of the lab2.md file :)
#############

from sqlalchemy import create_engine


'''
Database properties:

login: wbauer_adb

password: adb2020

database_name: wbauer_adb
'''

# db_string = "database_type://user:password@database_url:port/database_name"
db_string = 'postgresql://wbauer_adb:adb2020@pgsql-196447.vipserv.org:5432/wbauer_adb'

db = create_engine(db_string)

In [61]:
from sqlalchemy import create_engine, MetaData, Table


table_name = db.table_names()
print(table_name)
print()

metadata = MetaData()

# table_name[1] ma nastepujaca nazwe: "category"

category = Table("category", metadata , autoload=True, autoload_with=db)

print(repr(category))
print()
print(table.columns.keys())

['staff', 'category', 'film_category', 'country', 'actor', 'language', 'store', 'rental', 'city', 'address', 'film_actor', 'payment', 'users', 'film', 'customer', 'inventory']

Table('category', MetaData(bind=None), Column('category_id', INTEGER(), table=<category>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000001EB81AEE0C8>, for_update=False)), Column('name', VARCHAR(length=25), table=<category>, nullable=False), Column('last_update', TIMESTAMP(), table=<category>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000001EB821F2A88>, for_update=False)), schema=None)

['category_id', 'name', 'last_update']

In [62]:
### Task 2 ###
#explore relationship between: 
#        staff and country
#        actor, language and film

staff = Table("staff", metadata , autoload=True, autoload_with=db)
country = Table("country", metadata , autoload=True, autoload_with=db)

print("This is staff:\n")
print(repr(staff))

print()
print("This is country:\n")
print(repr(country))


actor = Table("actor", metadata , autoload=True, autoload_with=db)
language = Table("language", metadata , autoload=True, autoload_with=db)
film = Table("film", metadata , autoload=True, autoload_with=db)

print()
print("This is actor:\n")
print(repr(actor))

print()
print("This is language:\n")
print(repr(language))

print()
print("This is film:\n")
print(repr(film))

This is staff:

Table('staff', MetaData(bind=None), Column('staff_id', INTEGER(), table=<staff>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000001EB82D7D448>, for_update=False)), Column('first_name', VARCHAR(length=45), table=<staff>, nullable=False), Column('last_name', VARCHAR(length=45), table=<staff>, nullable=False), Column('address_id', SMALLINT(), ForeignKey('address.address_id'), table=<staff>, nullable=False), Column('email', VARCHAR(length=50), table=<staff>), Column('store_id', SMALLINT(), table=<staff>, nullable=False), Column('active', BOOLEAN(), table=<staff>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000001EB82D80F88>, for_update=False)), Column('username', VARCHAR(length=16), table=<staff>, nullable=False), Column('password', VARCHAR(length=40), table=<staff>), Column('last_update', TIMESTAMP(), table=<staff>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000001EB82D78A08>, for_update=False)), Column('picture', BYTEA(), table=<staff>), schema=None)

This is country:

Table('country', MetaData(bind=None), Column('country_id', INTEGER(), table=<country>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000001EB82D98F48>, for_update=False)), Column('country', VARCHAR(length=50), table=<country>, nullable=False), Column('last_update', TIMESTAMP(), table=<country>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000001EB82D98388>, for_update=False)), schema=None)

This is actor:

Table('actor', MetaData(bind=None), Column('actor_id', INTEGER(), table=<actor>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000001EB828EA4C8>, for_update=False)), Column('first_name', VARCHAR(length=45), table=<actor>, nullable=False), Column('last_name', VARCHAR(length=45), table=<actor>, nullable=False), Column('last_update', TIMESTAMP(), table=<actor>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000001EB82D89348>, for_update=False)), schema=None)

This is language:

Table('language', MetaData(bind=None), Column('language_id', INTEGER(), table=<language>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000001EB82D78948>, for_update=False)), Column('name', CHAR(length=20), table=<language>, nullable=False), Column('last_update', TIMESTAMP(), table=<language>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000001EB82D9CD08>, for_update=False)), schema=None)

This is film:

Table('film', MetaData(bind=None), Column('film_id', INTEGER(), table=<film>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000001EB82D6B548>, for_update=False)), Column('title', VARCHAR(length=255), table=<film>, nullable=False), Column('description', TEXT(), table=<film>), Column('release_year', INTEGER(), table=<film>), Column('language_id', SMALLINT(), ForeignKey('language.language_id'), table=<film>, nullable=False), Column('rental_duration', SMALLINT(), table=<film>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000001EB82D98948>, for_update=False)), Column('rental_rate', NUMERIC(precision=4, scale=2), table=<film>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000001EB82D8C788>, for_update=False)), Column('length', SMALLINT(), table=<film>), Column('replacement_cost', NUMERIC(precision=5, scale=2), table=<film>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000001EB814EF088>, for_update=False)), Column('rating', ENUM('G', 'PG', 'PG-13', 'R', 'NC-17', name='mpaa_rating'), table=<film>, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000001EB82D39988>, for_update=False)), Column('last_update', TIMESTAMP(), table=<film>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000001EB82DB51C8>, for_update=False)), Column('special_features', ARRAY(TEXT()), table=<film>), Column('fulltext', TSVECTOR(), table=<film>, nullable=False), schema=None)

In [67]:
### Task 3 ###
# How many categories of films we have in the rental?

from sqlalchemy import select, distinct, func

# I have no idea how to do it :( 

rental = Table("rental", metadata , autoload=True, autoload_with=db)
inventory = Table("inventory", metadata , autoload=True, autoload_with=db)
film = Table("film", metadata , autoload=True, autoload_with=db)
film_category = Table("film_category", metadata , autoload=True, autoload_with=db)

stmt = 'select count(distinct c.name) from category c join film_category fc on (c.category_id=fc.category_id) join film f on (fc.film_id=f.film_id) join inventory i on (f.film_id=i.film_id) join rental r on (i.inventory_id=r.inventory_id)'

results = db.execute(stmt).fetchall()


print(results)

[(16,)]

In [55]:
### Task 4 ###
# Display list of categories with limit 2.

stmt = select([category])

results = db.execute(stmt).fetchmany(size=2)

for i in results:
    print(i.name)

Action
Animation

In [68]:
### Task 5 ###
# Find the oldest and youngest film in rental.

stmt = 'select f.title, min(f.release_year) as min_year from category c join film_category fc on (c.category_id=fc.category_id) join film f on (fc.film_id=f.film_id) join inventory i on (f.film_id=i.film_id) join rental r on (i.inventory_id=r.inventory_id) group by f.title'
results = db.execute(stmt).fetchmany(size=3)
print(results)

stmt = 'select f.title, max(f.release_year) as max_year from category c join film_category fc on (c.category_id=fc.category_id) join film f on (fc.film_id=f.film_id) join inventory i on (f.film_id=i.film_id) join rental r on (i.inventory_id=r.inventory_id) group by f.title'
results = db.execute(stmt).fetchmany(size=3)
print(results)

[('Frontier Cabin', 2006), ('Cruelty Unforgiven', 2006), ('Arachnophobia Rollercoaster', 2006)]
[('Frontier Cabin', 2006), ('Cruelty Unforgiven', 2006), ('Arachnophobia Rollercoaster', 2006)]

In [71]:
### Task 6 ###
# Find all actor with a name: Olympia, Julia, Ellen. How can you check correction of your query?

from sqlalchemy import or_

actor = Table("actor", metadata, autoload=True, autoload_with=db)

stmt = select([actor])

stmt = stmt.where(or_(actor.columns.first_name == 'Olympia', actor.columns.first_name == 'Julia', actor.columns.first_name == 'Ellen'))

results = db.execute(stmt)

for i in results:
    print(i)

print(stmt)

(27, 'Julia', 'Mcqueen', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(47, 'Julia', 'Barrymore', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(93, 'Ellen', 'Presley', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(171, 'Olympia', 'Pfeiffer', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(186, 'Julia', 'Zellweger', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(199, 'Julia', 'Fawcett', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
SELECT actor.actor_id, actor.first_name, actor.last_name, actor.last_update
FROM actor
WHERE actor.first_name = :first_name_1 OR actor.first_name = :first_name_2 OR actor.first_name = :first_name_3