In [393]:
#############
#Wojciech Grzelinski
#############

from sqlalchemy import create_engine    # Potrzebne do stworzenia silnika do bazy
import pandas as pd                     # Panda zawsze na propsie

# dane do bazy Bauera:
'''
Database properties:

login: wbauer_adb

password: adb2020

database_name: wbauer_adb
'''

# db_string = "database_type://user:password@database_url:port/database_name"

# Pod takim adresem bedziemy chcieli dostac sie do bazy danych (i z takimi credentials - user i haslo)
db_string = 'postgresql://wbauer_adb:adb2020@pgsql-196447.vipserv.org:5432/wbauer_adb'
# db_string = 'postgresql://postgres:1997@localhost/Advanced_Databases2'

# Tworzymy silnik do bazy oparty na naszym stringu powyzej
engine = create_engine(db_string)

In [394]:
# Ten fragment pochodzi z instrukcji lab6.md od Bauera:
from sqlalchemy import create_engine, MetaData, Table

metadata = MetaData()

#Tworzymy sÅ‚ownik z tabelami, gdzie kluczem jest nazwa tabeli.
dic_table = {}
for table_name in db.table_names():
    dic_table[table_name] = Table(table_name, metadata , autoload=True, autoload_with=engine)
	
# Wyswietlamy tabele "category" aby sprawdzic, czy wszystko dziala jak nalezy
print(repr(dic_table['category']))

Table('category', MetaData(bind=None), Column('category_id', INTEGER(), table=<category>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000001EEE4F35548>, for_update=False)), Column('name', VARCHAR(length=25), table=<category>, nullable=False), Column('last_update', TIMESTAMP(), table=<category>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000001EEE4F47F48>, for_update=False)), schema=None)

In [395]:
### Task 1. How many categories of films we have in the rental? ###

# importujemy funkcje select
from sqlalchemy import select
# select * from category (czyli wybierz wszystkie (to ta *) z tabeli "category")

command = select([dic_table['category']]).limit(10)
print("Our command is: \n")
print(command)
# zrobilismy komende "select" z tabeli o nazwie "category" i ustawilismy limit wynikow na 10

# teraz wykonamy te komende na naszej bazie danych (wyslemy zapytanie) i wyswietlimy wyniki tego dzialania
results = engine.execute(command).fetchall()
print("Results from 'select * from category': \n")
print(results)

categories_number = len(results)
print("Number of categories of films is: ")
print(categories_number)

## !!!!UWAGA!!!! - WYNIK WYSZEDL 10 BO DO 10 OGRANICZYLISMY LICZBE WYNIKOW W NASZYM ZAPYTANIU (command). Musimy wykonac zapytanie bez tego ograniczenia!!!!

command = select([dic_table['category']])
results = engine.execute(command).fetchall()
categories_number = len(results)

print("\n ---The real number of categories is: ---")
print(categories_number)

# A teraz zrobmy to maksymalnie poprawnie (na tyle ile umiem) za pomoca komendy SQL (chyba nie trzeba tlumaczyc)

command = 'select count(category.name) from category'
results_proper = engine.execute(command).fetchall()

print("\nThe number of categories with the most proper command in SQL is: \n")
print(results_proper)

Our command is:

SELECT category.category_id, category.name, category.last_update
FROM category
 LIMIT :param_1
Results from 'select * from category':

[(1, 'Action', datetime.datetime(2006, 2, 15, 9, 46, 27)), (2, 'Animation', datetime.datetime(2006, 2, 15, 9, 46, 27)), (3, 'Children', datetime.datetime(2006, 2, 15, 9, 46, 27)), (4, 'Classics', datetime.datetime(2006, 2, 15, 9, 46, 27)), (5, 'Comedy', datetime.datetime(2006, 2, 15, 9, 46, 27)), (6, 'Documentary', datetime.datetime(2006, 2, 15, 9, 46, 27)), (7, 'Drama', datetime.datetime(2006, 2, 15, 9, 46, 27)), (8, 'Family', datetime.datetime(2006, 2, 15, 9, 46, 27)), (9, 'Foreign', datetime.datetime(2006, 2, 15, 9, 46, 27)), (10, 'Games', datetime.datetime(2006, 2, 15, 9, 46, 27))]
Number of categories of films is:
10

 ---The real number of categories is: ---
16

The number of categories with the most proper command in SQL is:

[(16,)]

In [396]:
### Task 2. Display list of categories in alphabetic order. ###

# NAJPEIRW URUCHOM TASK 1 - KORZYSTAMY TUTAJ Z DANYCH Z TASK 1 !!!!

#To jest prototyp naszej listy nazw kategorii
list_of_categories_names = []

# Nasze nazwy ukrywaja sie pod indeksem 1 w kazdej pozycji w wynikach (results) zatem np tutaj: results[0][1] albo results[1][1] itd.

# Uzyjemy zatem funkcji for zeby je sobie wyciagnac do jednej listy (list_of_categories_names) zeby potem posortowac
for i in range(0, categories_number):
    list_of_categories_names.append(results[i][1])

list_of_categories_names.sort()

print(list_of_categories_names)
print() # Pusta linia
# ALE to powyzej jest glupie skoro mozna to zrobic od razu odpowiednim poleceniem ponizej:

# wybieramy tylko kolumne z nazwa (name) z tabeli kategorie (category) i nastepnie sortujemy je po nazwie z tabeli kategorii:
command = select([dic_table['category'].columns.name]).order_by(dic_table['category'].columns.name)
proper_results = engine.execute(command).fetchall()

print(proper_results)

['Action', 'Animation', 'Children', 'Classics', 'Comedy', 'Documentary', 'Drama', 'Family', 'Foreign', 'Games', 'Horror', 'Music', 'New', 'Sci-Fi', 'Sports', 'Travel']

[('Action',), ('Animation',), ('Children',), ('Classics',), ('Comedy',), ('Documentary',), ('Drama',), ('Family',), ('Foreign',), ('Games',), ('Horror',), ('Music',), ('New',), ('Sci-Fi',), ('Sports',), ('Travel',)]

In [397]:
### Task 3. Find the oldest and youngest film in rental. ###

# Na razie lepiej mi sie nie udalo, trzeba pokombinowac, zeby wystwietlic tez nazwe tego wypozyczonego filmu jakos

# "\" na koncu linii informuje, ze w kolejnej linii kontynuuje pisanie
# Pamietajmy, ze SQL jest Case INsensitive - wielkosc liter POLECEN nie ma znaczenia (np and i AND - oba sa dobrze)
command = " SELECT title, date  \
            from (select film.title as title, rental.rental_date as date \
                from film \
                inner join inventory on film.film_id = inventory.film_id \
                inner join rental on inventory.inventory_id = rental.inventory_id \
            GROUP BY title, date) as temp_tbl \
            WHERE date = (SELECT MAX(rental.rental_date) from rental) or \
                date = (SELECT Min(rental.rental_date) from rental) \
            GROUP by title, date \
            "
''' Co tutaj powyzej sie dzieje? Otoz:
1. chcemy wybrac title oraz date - wiec w pierwszej linii mamy select title, date
2. musimy powiedziec skad chcemy brac te dane, zatem piszemy "from"... i tutaj nastepuje magia.
    Otoz otwieramy nawias i robimy kolejnego selecta (nie bedziemy wybierac bezposrednio z jakiejs tabeli a z jakis innych wynikow - rownie dobrze mozna wszystkie kroki rozdzielic po kolei).
    Wybieramy zatem tytul z tabeli film i dajemy alias film oraz rental_date z tabeli rental i dajemy alias date.
3. W trzeciej linii mowimy, ze from film, no bo taka prawda, film.title jest w tabeli film. Ale jeszcze jest to nieszczesne rental_date, ktorego nie ma w tabeli film. Wiec musimy wykonac szacher-macher komenda inner join.
4. INNER JOIN pozwala laczyc zrodla z ktorych bierzemy dane (tak na prosty rozum). Musimy sprawdzic jakie elementy w danych tabelach mamy wspolne (najczesciej sa to id, polecam grafike z wykladow Bauera zawierajaca schemat bazy, ewentualnie PGAdmin i sobie obejrzec jak tabele wygladaja).
    Robimy tak: w tabeli inventory "laczymy" komorki film.film_id oraz inventory.film_id (kolejnosc CHYBA nie ma znaczenia), czyli: "INNER JOIN inventory ON film.film_id = inventory.film_id"
5. Tutaj znowu laczymy komorki tak jak w punkcie nr 4.
6. Group By title, date - nie do konca ogarniam jak to wyjasnij, polecam zobaczyc w internecie o co chodzi. W kazdym razie jest potrzebne. 
    as temp_tbl - nadalismy naszym wynikom alias temp_tbl, jest potrzebne dla selecta z punktu nr 1. z linii nr 1.
7. Where - tego chyba tlumaczyc nie trzeba - wybieramy najwieksza lub najmniejsza date (rental_date) z tabeli rental.
8. Kontynuujemy polecenie where (bo mielismy OR)
9. Grupujemy wyniki z punktu 1 (!!!!)

Szybki podzial komendy dla ulatwienia zrozumienia:

Wyniki_z_ktorych_szukamy = "(select film.title as title, rental.rental_date as date \
                            from film \
                            inner join inventory on film.film_id = inventory.film_id \
                            inner join rental on inventory.inventory_id = rental.inventory_id \
                            GROUP BY title, date) as temp_tbl"
Nasz_warunek_min_max = "WHERE date = (SELECT MAX(rental.rental_date) from rental) or \
                        date = (SELECT Min(rental.rental_date) from rental)"

    Ostateczne_polecenie = "SELECT title, date  \
                            from Wyniki_z_ktorych_szukamy \
                            Nasz_warunek_min_max \
                            GOUP BY title, date"
'''


result_task3 = engine.execute(command).fetchall()
for i in result_task3:
    print(i)

# Jest 168 wynikow z ta sama maksymalna data (2006,2,14,15,16,3) oraz 1 wynik z minimalna (2005,5,24,22,53,30)
# razem 169 wynikow

('Ace Goldfinger', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Affair Prejudice', datetime.datetime(2006, 2, 14, 15, 16, 3))
('African Egg', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Ali Forever', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Alone Trip', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Amadeus Holy', datetime.datetime(2006, 2, 14, 15, 16, 3))
('American Circus', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Amistad Midsummer', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Armageddon Lost', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Baked Cleopatra', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Bang Kwai', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Basic Easy', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Berets Agent', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Blade Polish', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Blanket Beverly', datetime.datetime(2005, 5, 24, 22, 53, 30))
('Blanket Beverly', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Boogie Amelie', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Boulevard Mob', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Bound Cheaper', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Bubble Grosse', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Bull Shawshank', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Camelot Vacation', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Candidate Perdition', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Canyon Stock', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Cat Coneheads', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Center Dinosaur', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Chamber Italian', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Chasing Fight', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Chitty Lock', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Cincinatti Whisperer', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Cleopatra Devil', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Club Graffiti', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Connection Microcosmos', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Conversation Downhill', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Creatures Shakespeare', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Crooked Frogmen', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Curtain Videotape', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Cyclone Family', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Dances None', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Day Unfaithful', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Deep Crusade', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Deer Virginian', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Details Packer', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Detective Vision', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Devil Desire', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Disciple Mother', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Divine Resurrection', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Doors President', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Dragonfly Strangers', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Drifter Commandments', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Driver Annie', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Dwarfs Alter', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Eagles Panky', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Earth Vision', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Effect Gladiator', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Encino Elf', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Enough Raging', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Falcon Volume', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Family Sweet', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Fight Jawbreaker', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Flying Hook', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Forrester Comancheros', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Frida Slipper', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Frisco Forrest', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Frost Head', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Gables Metropolis', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Ghost Groundhog', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Gleaming Jawbreaker', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Gorgeous Bingo', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Grail Frankenstein', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Grapes Fury', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Groundhog Uncut', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Gunfight Moon', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Half Outfield', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Happiness United', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Harry Idaho', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Haunted Antitrust', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Holes Brannigan', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Hunchback Impossible', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Hunger Roof', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Hyde Doctor', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Igby Maker', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Insects Stone', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Insider Arizona', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Intentions Empire', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Intrigue Worst', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Jason Trap', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Juggler Hardly', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Kick Savannah', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Lady Stage', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Lawless Vision', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Loathing Legally', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Lord Arizona', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Lovely Jingle', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Lust Lock', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Midnight Westward', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Minority Kiss', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Mockingbird Hollywood', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Monster Spartacus', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Moonwalker Fool', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Mosquito Armageddon', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Motions Details', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Movie Shakespeare', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Mulan Moon', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Mulholland Beast', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Mummy Creatures', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Name Detective', datetime.datetime(2006, 2, 14, 15, 16, 3))
('None Spiking', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Operation Operation', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Opposite Necklace', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Outfield Massacre', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Outlaw Hanky', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Peach Innocent', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Philadelphia Wife', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Pianist Outfield', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Pirates Roxanne', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Pollock Deliverance', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Pride Alamo', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Princess Giant', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Pulp Beverly', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Pure Runner', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Queen Luke', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Ridgemont Submarine', datetime.datetime(2006, 2, 14, 15, 16, 3))
('River Outlaw', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Scarface Bang', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Seabiscuit Punk', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Seattle Expecations', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Shawshank Bubble', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Shock Cabin', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Shrek License', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Silverado Goldfinger', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Sleeping Suspects', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Sleepless Monsoon', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Sleepy Japanese', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Smoking Barbarella', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Smoochy Control', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Song Hedwig', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Sons Interview', datetime.datetime(2006, 2, 14, 15, 16, 3))
('South Wait', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Star Operation', datetime.datetime(2006, 2, 14, 15, 16, 3))
('State Wasteland', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Streak Ridgemont', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Suit Walls', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Summer Scarface', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Sundance Invasion', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Suspects Quills', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Swarm Gold', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Sweden Shining', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Sweethearts Suspects', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Theory Mermaid', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Titanic Boondock', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Titans Jerk', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Torque Bound', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Trading Pinocchio', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Trojan Tomorrow', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Trouble Date', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Tuxedo Mile', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Vanished Garden', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Vanishing Rocky', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Varsity Trip', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Virginian Pluto', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Volcano Texas', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Wanda Chamber', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Wedding Apollo', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Wild Apollo', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Window Side', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Women Dorado', datetime.datetime(2006, 2, 14, 15, 16, 3))
('World Leathernecks', datetime.datetime(2006, 2, 14, 15, 16, 3))
('Zhivago Core', datetime.datetime(2006, 2, 14, 15, 16, 3))

In [398]:
### Task 4. How many rentals were in between 2005-07-01 and 2005-08-01? ###

# Importujemy opcje "or"
from sqlalchemy import or_
import datetime

# Tworzymy zapytanie z filtrowaniem wynikow
command = select([dic_table['rental']]).\
where(and_(dic_table['rental'].columns.rental_date > datetime.datetime(2006, 7, 1),\
            dic_table['rental'].columns.rental_date < datetime.datetime(2006, 8, 1) ) )

# Wykonujemy nasza komende
results_task4 = engine.execute(command).fetchall()

# Zliczamy dlugosc wynikow (co da nam w efekcie ich liczbe)
counter = len(results_task4)

print(counter)
# Wychodzi 0 bo daty wypozyczen sa tylko od 2005-05-24 do 2006-02-14 roku

0

In [399]:
### Task 5. How many rentals were in between 2010-01-01 and 2011-02-01? ###

# Importujemy opcje "or"
from sqlalchemy import or_, and_
import datetime

# Tworzymy zapytanie z filtrowaniem wynikow (to "\" na koncu linii oznacza, ze kontynuuje w kolejnej linii)
command = select([dic_table['rental']]).\
where(and_(dic_table['rental'].columns.rental_date > datetime.datetime(2010, 1, 1),\
            dic_table['rental'].columns.rental_date < datetime.datetime(2011, 2, 1) ) )

# Wykonujemy nasza komende
results_task5 = engine.execute(command).fetchall()

# Zliczamy dlugosc wynikow (co da nam w efekcie ich liczbe)
counter = len(results_task5)

print(counter)
# Wychodzi 0 bo daty wypozyczen sa tylko od 2005-05-24 do 2006-02-14 roku

0

In [400]:
### Task 6. Find the biggest payment in the rental. ###

command = 'select max(payment.amount) from payment'
result_task6 = engine.execute(command).fetchall()

print(result_task6)

[(Decimal('11.99'),)]

In [401]:
### Task 7. Find all customers from Polend or Nigeria or Bangladesh. ###

command = "select customer.first_name, customer.last_name, country.country from \
            customer \
            inner join address on address.address_id = customer.address_id \
            inner join city on city.city_id = address.city_id \
            inner join country on country.country_id = city.country_id \
            where (country.country = 'Poland' or country.country = 'Nigeria' or country.country = 'Bangladesh') \
            group by customer.first_name, customer.last_name, country.country \
            "
result_task7 = engine.execute(command).fetchall()

for i in result_task7:
    print(i)

('Bertha', 'Ferguson', 'Nigeria')
('Brian', 'Wyman', 'Poland')
('Carol', 'Garcia', 'Nigeria')
('Constance', 'Reid', 'Nigeria')
('Elsie', 'Kelley', 'Nigeria')
('Frank', 'Waggoner', 'Bangladesh')
('Gladys', 'Hamilton', 'Nigeria')
('Jimmie', 'Eggleston', 'Poland')
('Jo', 'Fowler', 'Nigeria')
('Johnnie', 'Chisholm', 'Poland')
('Leah', 'Curtis', 'Poland')
('Marilyn', 'Ross', 'Nigeria')
('Marjorie', 'Tucker', 'Poland')
('Michelle', 'Clark', 'Bangladesh')
('Olga', 'Jimenez', 'Nigeria')
('Rodney', 'Moeller', 'Nigeria')
('Ruben', 'Geary', 'Poland')
('Russell', 'Brinson', 'Poland')
('Sidney', 'Burleson', 'Poland')
('Sonia', 'Gregory', 'Nigeria')
('Stephen', 'Qualls', 'Bangladesh')
('Tracey', 'Barrett', 'Nigeria')
('Velma', 'Lucas', 'Nigeria')
('Wallace', 'Slone', 'Nigeria')

In [402]:
### Task 8. Where live staff memebers? ###

# Zeby sie tego dowiedziec musimy wyciagnac jakies info o adresie, mozemy wyswietlic np pelne adresy z miastami itd

command = " SELECT staff.first_name as name, staff.last_name as surname, address.address as street, city.city as                    cityName, country.country as countryName \
            FROM staff \
            INNER JOIN address ON address.address_id = staff.address_id \
            INNER JOIN city ON city.city_id = address.city_id \
            INNER JOIN country ON country.country_id = city.country_id \
            GROUP BY name, surname, street, cityName, countryName \
            "

result_task8 = engine.execute(command).fetchall()

for i in result_task8:
    print(i)

# A to sie zgadza, bo jest tylko 2 pracownikow w bazie danych

('Jon', 'Stephens', '1411 Lillydale Drive', 'Woodridge', 'Australia')
('Mike', 'Hillyer', '23 Workhaven Lane', 'Lethbridge', 'Canada')

In [403]:
### Task 9. How many staff members live in Argentina or Spain? ###

command = " SELECT COUNT (*) FROM \
            ( \
            SELECT staff.first_name as staffName, staff.last_name as surname, address.address as street, city.city as                    cityName, country.country as countryName \
            FROM staff \
            INNER JOIN address ON address.address_id = staff.address_id \
            INNER JOIN city ON city.city_id = address.city_id \
            INNER JOIN country ON country.country_id = city.country_id \
            GROUP BY staffName, surname, street, cityName, countryName \
            ) AS temp \
            WHERE countryName = 'Argentina' OR countryName = 'Spain' \
            "

result_task9 = engine.execute(command).fetchall()

for i in result_task9:
    print(i)

# Wychodzi 0 i to jest dobrze, bo nikt nie mieszka z pracownikow w Argentynie ani Hiszpanii

(0,)

In [404]:
### Task 10. Which categories of the films were rented by clients? ###

command = " SELECT distinct category.name FROM \
            category \
            INNER JOIN film_category ON category.category_id = film_category.category_id \
            INNER JOIN film ON film_category.film_id = film.film_id \
            INNER JOIN inventory ON film.film_id = inventory.film_id \
            INNER JOIN rental ON rental.inventory_id = inventory.inventory_id \
            ORDER BY category.name \
            "

result_task10 = engine.execute(command).fetchall()

for i in result_task10:
    print(i)

# I to sie zgadza

('Action',)
('Animation',)
('Children',)
('Classics',)
('Comedy',)
('Documentary',)
('Drama',)
('Family',)
('Foreign',)
('Games',)
('Horror',)
('Music',)
('New',)
('Sci-Fi',)
('Sports',)
('Travel',)

In [414]:
### Task 11. Find all categories of films rented in America. ###

command = "SELECT distinct category.name FROM \
            category \
            INNER JOIN film_category ON category.category_id = film_category.category_id \
            INNER JOIN film ON film_category.film_id = film.film_id \
            INNER JOIN inventory ON film.film_id = inventory.film_id \
            INNER JOIN rental ON rental.inventory_id = inventory.inventory_id \
            INNER JOIN customer ON rental.customer_id = customer.customer_id \
            INNER JOIN address ON customer.address_id = address.address_id \
            INNER JOIN city ON address.city_id = city.city_id \
            INNER JOIN country ON city.country_id = country.country_id \
            WHERE country.country = 'America' \
            ORDER BY category.name \
            "



result_task11 = engine.execute(command).fetchall()
length_task11 = len(result_task11)
print("Length of the results: {0}" .format(length_task11))

for i in result_task11:
    print(i)

# i wynik jest poprawny, nie ma zadnych wypozyczen z ameryki

Length of the results: 0

In [417]:
### Task 12. Find all title of films where was playe: Olympia Pfeiffer or Julia Zellweger or Ellen Presley ###

command = " SELECT film.title, actor.first_name, actor.last_name \
            FROM film \
            INNER JOIN film_actor ON film_actor.film_id = film.film_id \
            INNER JOIN actor ON actor.actor_id = film_actor.actor_id \
            where (actor.first_name = 'Olympia' AND actor.last_name = 'Pfeiffer') OR \
                    (actor.first_name = 'Julia' AND actor.last_name = 'Zellweger') OR \
                    (actor.first_name = 'Ellen' AND actor.last_name = 'Presley') \
            ORDER BY film.title \
            "

result_task12 = engine.execute(command).fetchall()
length_task12 = len(result_task12)
print("Length of the results: {0}" .format(length_task12))

for i in result_task12:
    print(i)

# Otrzymalismy 69 wynikow

Length of the results: 69
('Badman Dawn', 'Olympia', 'Pfeiffer')
('Bilko Anonymous', 'Ellen', 'Presley')
('Breakfast Goldfinger', 'Julia', 'Zellweger')
('Caribbean Liberty', 'Ellen', 'Presley')
('Casper Dragonfly', 'Ellen', 'Presley')
('Chitty Lock', 'Olympia', 'Pfeiffer')
('Color Philadelphia', 'Olympia', 'Pfeiffer')
('Contact Anonymous', 'Olympia', 'Pfeiffer')
('Cranes Reservoir', 'Julia', 'Zellweger')
('Dares Pluto', 'Julia', 'Zellweger')
('Deep Crusade', 'Olympia', 'Pfeiffer')
('Detective Vision', 'Julia', 'Zellweger')
('Divorce Shining', 'Julia', 'Zellweger')
('Effect Gladiator', 'Olympia', 'Pfeiffer')
('Empire Malkovich', 'Ellen', 'Presley')
('Express Lonely', 'Olympia', 'Pfeiffer')
('Firehouse Vietnam', 'Olympia', 'Pfeiffer')
('Floats Garden', 'Ellen', 'Presley')
('Frogmen Breaking', 'Ellen', 'Presley')
('Fugitive Maguire', 'Olympia', 'Pfeiffer')
('Hanky October', 'Olympia', 'Pfeiffer')
('Hollow Jeopardy', 'Julia', 'Zellweger')
('Homeward Cider', 'Ellen', 'Presley')
('Hyde Doctor', 'Ellen', 'Presley')
('Ice Crossing', 'Olympia', 'Pfeiffer')
('Idols Snatchers', 'Olympia', 'Pfeiffer')
('Image Princess', 'Ellen', 'Presley')
('Intolerable Intentions', 'Olympia', 'Pfeiffer')
('Jacket Frisco', 'Ellen', 'Presley')
('Jeopardy Encino', 'Julia', 'Zellweger')
('Lambs Cincinatti', 'Julia', 'Zellweger')
('Magnolia Forrester', 'Olympia', 'Pfeiffer')
('Majestic Floats', 'Julia', 'Zellweger')
('Mars Roman', 'Olympia', 'Pfeiffer')
('Maude Mod', 'Olympia', 'Pfeiffer')
('Microcosmos Paradise', 'Ellen', 'Presley')
('Minds Truman', 'Julia', 'Zellweger')
('Murder Antitrust', 'Olympia', 'Pfeiffer')
('Network Peak', 'Ellen', 'Presley')
('None Spiking', 'Olympia', 'Pfeiffer')
('Open African', 'Julia', 'Zellweger')
('Oscar Gold', 'Ellen', 'Presley')
('Others Soup', 'Olympia', 'Pfeiffer')
('Outlaw Hanky', 'Julia', 'Zellweger')
('Panky Submarine', 'Julia', 'Zellweger')
('Pickup Driving', 'Ellen', 'Presley')
('Pinocchio Simon', 'Ellen', 'Presley')
('Private Drop', 'Ellen', 'Presley')
('Psycho Shrunk', 'Olympia', 'Pfeiffer')
('Rider Caddyshack', 'Julia', 'Zellweger')
('Roots Remember', 'Ellen', 'Presley')
('Santa Paris', 'Olympia', 'Pfeiffer')
('Scarface Bang', 'Ellen', 'Presley')
('Secretary Rouge', 'Ellen', 'Presley')
('Sense Greek', 'Olympia', 'Pfeiffer')
('Spy Mile', 'Ellen', 'Presley')
('Storm Happiness', 'Olympia', 'Pfeiffer')
('Streetcar Intentions', 'Ellen', 'Presley')
('Sweet Brotherhood', 'Olympia', 'Pfeiffer')
('Tadpole Park', 'Ellen', 'Presley')
('Titanic Boondock', 'Olympia', 'Pfeiffer')
('Tourist Pelican', 'Olympia', 'Pfeiffer')
('Traffic Hobbit', 'Olympia', 'Pfeiffer')
('Treasure Command', 'Ellen', 'Presley')
('Turn Star', 'Ellen', 'Presley')
('Wait Cider', 'Olympia', 'Pfeiffer')
('Women Dorado', 'Ellen', 'Presley')
('Won Dares', 'Julia', 'Zellweger')
('Wyoming Storm', 'Julia', 'Zellweger')